<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zevsariy.opeditor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>OPEditor</name>
    <description>
		Редактор образовательных программ бакалавриата.
    </description>
    <author email="zevsariy.app@gmail.com" href="2tsy.ru">
        2TSY Project DIPLOMA
    </author>
    <content src="index.html" />
    <access origin="*" />
	<allow-navigation href="http://diplom-tst.2tsy.ru/" />
	<allow-navigation href="http://diplom-tst.2tsy.ru/plugins/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0" />
</widget>
