<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zevsariy.opeditor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Редактор ОП</name>
    <description>
		Редактор образовательных программ бакалавриата.
    </description>
    <author email="zevsariy.app@gmail.com" href="2tsy.ru">
        2TSY Project DIPLOMA
    </author>
    <content src="index.html" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" version="~1" />
    <access origin="*" />
	<allow-navigation href="http://diplom-tst.2tsy.ru/" />
</widget>
